<header class="header">
  <div class="container header__wrap">
    <div class="header__top">
      <div class="top__wrap">
        <div class="top__nav">
          <a href="">
            <svg width="149" height="60">
              <use
                href="./images/mobile/symbol-defs.svg#icon-logo-header-mobile"
              ></use>
            </svg>
          </a>
          <svg width="24" height="24" class="nav__svg">
            <use href="./images/mobile/symbol-defs.svg#icon-search"></use>
          </svg>
          <svg width="24" height="24" class="nav__svg">
            <use href="./images/mobile/symbol-defs.svg#icon-menu"></use>
          </svg>
        </div>
        <h1 class="top__title">explore indonesia</h1>
        <button class="top__button">Start travelling</button>
      </div>
    </div>
  </div>
</header>
