<header class="header" id="header">
  <div class="slider-container">
    <div class="slider-container__wrapper">
      <div class="slider-container__wrap-sc">
        <div class="wrap-sc__div-sc">
          <div class="div-sc__nav">
            <a href="./index.html">
              <svg width="149" height="60" class="div-sc__logo">
                <use
                  href="./images/symbol-defs.svg#icon-logo-header-mobile"
                ></use>
              </svg>
            </a>
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#" class="nav__link">destinations</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">experiences</a>
              </li>
              <li class="nav__item"><a href="#" class="nav__link">about</a></li>
              <li class="nav__item">
                <a href="#" class="nav__link">gallery</a>
              </li>
            </ul>
            <div class="wrap-sc__div-sc__nav">
              <svg width="24" height="24" class="sc-nav__svg">
                <use href="./images/symbol-defs.svg#icon-search"></use>
              </svg>
              <svg width="24" height="24" class="sc-nav__svg">
                <use href="./images/symbol-defs.svg#icon-menu"></use>
              </svg>
            </div>
          </div>
          <div class="div-sc__wrap-info">
            <img
              src="./images/desktop/indicator.png"
              alt=""
              class="img-indicator"
            />
            <div>
              <h1 class="wrap-info__title">explore indonesia</h1>
              <button class="wrap-info__button">Start travelling</button>
            </div>
          </div>
          <div class="div-sc-wrap__information">
            <ul class="information__list">
              <li class="information__item">
                <a
                  href="https://twitter.com/home?lang=uk"
                  target="_blank"
                  class="information__link"
                  >Tw</a
                >
              </li>
              <li class="information__item">
                <a
                  href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2F"
                  target="_blank"
                  class="information__link"
                  >In</a
                >
              </li>
              <li class="information__item">
                <a
                  href="https://uk-ua.facebook.com/"
                  target="_blank"
                  class="information__link"
                  >Fb</a
                >
              </li>
            </ul>
            <div class="video-div">
              <video
                class="video"
                type="video/mp4"
                muted
                src="./video/Travel Insurance Explained _ Allianz Worldwide Partners.mp4"
              ></video>
              <button class="play-button video__button">
                <svg width="78px" height="78px">
                  <use href="./images/symbol-defs.svg#icon-play"></use>
                </svg>
              </button>
            </div>
            <ul class="information__info-list">
              <li class="info-list__info-item">
                <svg width="32" height="19" class="info-item__svg">
                  <use href="./images/symbol-defs.svg#icon-01"></use>
                </svg>
                <h2 class="info-item__title">Title here</h2>
                <p class="info-item__subtitle">
                  Lorem ipsum dolor sit amet et amet ist ame.
                </p>
              </li>
              <li class="info-list__info-item">
                <svg width="32" height="19" class="info-item__svg">
                  <use href="./images/symbol-defs.svg#icon-2"></use>
                </svg>
                <h2 class="info-item__title">Title here</h2>
                <p class="info-item__subtitle">
                  Lorem ipsum dolor sit amet et amet ist ame.
                </p>
              </li>
              <li class="info-list__info-item">
                <svg width="32" height="19" class="info-item__svg">
                  <use href="./images/symbol-defs.svg#icon-3"></use>
                </svg>
                <h2 class="info-item__title">Title here</h2>
                <p class="info-item__subtitle">
                  Lorem ipsum dolor sit amet et amet ist ame.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="slider">
        <div class="slide">
          <img src="./images/mobile/hero.jpeg" alt="" class="mobile" />
          <img src="./images/tablet/hero.jpeg" alt="" class="tablet" />
          <img src="./images/desktop/hero.jpeg" alt="" class="desktop" />
        </div>
        <div class="slide">
          <img src="./images/mobile/hero.jpeg" alt="" class="mobile" />
          <img src="./images/tablet/hero.jpeg" alt="" class="tablet" />
          <img src="./images/desktop/hero.jpeg" alt="" class="desktop" />
        </div>
      </div>
    </div>
  </div>
</header>
