<header class="header">
  <div class="header__top">
    <div class="slider-container">
      <div class="top__wraps">
        <div class="top__wrap">
          <div class="top__nav">
            <a href="#" class="nav__logo">
              <svg width="149" height="60" class="logo__svg">
                <use
                  href="./images/mobile/symbol-defs.svg#icon-logo-header-mobile"
                ></use>
              </svg>
            </a>
            <div class="nav__wrap">
              <svg width="24" height="24" class="nav__svg">
                <use href="./images/mobile/symbol-defs.svg#icon-search"></use>
              </svg>
              <svg width="24" height="24" class="nav__svg">
                <use href="./images/mobile/symbol-defs.svg#icon-menu"></use>
              </svg>
            </div>
          </div>
          <h1 class="top__title">explore indonesia</h1>
          <button class="top__button">Start travelling</button>
        </div>
        <div class="top__wrapper">
          <ul class="wrapper__list">
            <li class="list__item">
              <svg class="item__svg" width="32" height="19">
                <use href="images/mobile/symbol-defs.svg#icon-01"></use>
              </svg>
              <h2 class="item__title">Title here</h2>
              <p class="item__subtitle">
                Lorem ipsum dolor sit amet et amet ist ame.
              </p>
            </li>
            <li class="list__item">
              <svg class="item__svg" width="32" height="19">
                <use href="images/mobile/symbol-defs.svg#icon-2"></use>
              </svg>
              <h2 class="item__title">Title here</h2>
              <p class="item__subtitle">
                Lorem ipsum dolor sit amet et amet ist ame.
              </p>
            </li>
            <li class="list__item">
              <svg class="item__svg" width="32" height="19">
                <use href="images/mobile/symbol-defs.svg#icon-3"></use>
              </svg>
              <h2 class="item__title">Title here</h2>
              <p class="item__subtitle">
                Lorem ipsum dolor sit amet et amet ist ame.
              </p>
            </li>
          </ul>
          <img src="../src/images/mobile/video.jpeg" alt="" />
        </div>
      </div>
      <div class="top__wrapper">
        <ul class="wrapper__list">
          <li class="list__item">
            <svg class="item__svg" width="32" height="19">
              <use href="./images/mobile/symbol-defs.svg#icon-01"></use>
            </svg>
            <h2 class="item__title">Title here</h2>
            <p class="item__subtitle">
              Lorem ipsum dolor sit amet et amet ist ame.
            </p>
          </li>
          <li class="list__item">
            <svg class="item__svg" width="32" height="19">
              <use href="./images/mobile/symbol-defs.svg#icon-2"></use>
            </svg>
            <h2 class="item__title">Title here</h2>
            <p class="item__subtitle">
              Lorem ipsum dolor sit amet et amet ist ame.
            </p>
          </li>
          <li class="list__item">
            <svg class="item__svg" width="32" height="19">
              <use href="./images/mobile/symbol-defs.svg#icon-3"></use>
            </svg>
            <h2 class="item__title">Title here</h2>
            <p class="item__subtitle">
              Lorem ipsum dolor sit amet et amet ist ame.
            </p>
          </li>
        </ul>
        <img src="./images/mobile/video.jpeg" alt="">

      <div class="slider">
        <div class="slide">
          <img src="./images/mobile/hero.jpeg" alt="" />
        </div>
        <div class="slide">
          <img src="./images/mobile/hero.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
</header>
