<section class="section__photo-gallery container">
  <div class="photo-gallery__gallery">
    <h2 class="gallery__title">Photo Gallery</h2>
    <p class="gallery__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus
      mauris in lectus tempus, eget tincidunt.
    </p>
    <div class="gallery__container cont">
      <div class="gallery__nums-6-4-2">
        <div class="gallery__num-6">
          <img src="./images/mobile/gallery_photo6.jpg" alt="" />
        </div>
        <div class="gallery__num-4">
          <img src="./images/mobile/gallery_photo4.jpg" alt="" />
        </div>
        <div class="gallery__num-2">
          <img src="./images/mobile/gallery_photo2.jpg" alt="" />
        </div>
      </div>
      <div class="gallery__nums-5-3-1">
        <div class="gallery__num-5">
          <img src="./images/mobile/gallery_photo5.jpg" alt="" />
        </div>
        <div class="gallery__num-3">
          <img src="./images/mobile/gallery_photo3.jpg" alt="" />
        </div>
        <div class="gallery__num-1">
          <img src="./images/mobile/gallery_photo1.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="container__gallery cont">
      <div class="nums-6-4">
        <div class="num-6 img">
          <img src="./images/gallery_photo6.jpg" alt="" width="215" />
        </div>
        <div class="num-4 img">
          <img src="./images/gallery_photo4.jpg" alt="" width="215" />
        </div>
      </div>
      <div class="nums-5-3">
        <div class="num-5 img">
          <img src="./images/gallery_photo5.jpg" alt="" width="215" />
        </div>
        <div class="num-3 img">
          <img src="./images/gallery_photo3.jpg" alt="" width="215" />
        </div>
      </div>
      <div class="nums-2-1">
        <div class="num-2 img">
          <img src="./images/gallery_photo2.jpg" alt="" width="215" />
        </div>
        <div class="num-1 img">
          <img src="./images/gallery_photo1.jpg" alt="" width="215" />
        </div>
      </div>
    </div>
    <div class="container__gallery-desk cont">
      <div class="nums-6-4-desk">
        <div class="num-6-desk">
          <img src="./images/gallery_photo6.jpg" alt="" />
        </div>
        <div class="num-4-desk">
          <img src="./images/gallery_photo4.jpg" alt="" />
        </div>
      </div>
      <div class="nums-5-3-desk">
        <div class="num-5-desk">
          <img src="./images/gallery_photo5.jpg" alt="" />
        </div>
        <div class="num-3-desk">
          <img src="./images/gallery_photo3.jpg" alt="" />
        </div>
      </div>
      <div class="nums-2-1-desk">
        <div class="num-2-desk">
          <img src="./images/gallery_photo2.jpg" alt="" />
        </div>
        <div class="num-1-desk">
          <img src="./images/gallery_photo1.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
