.explore{
    background-image: url(../images/field.png);
    height: 929px;
    padding: 0 320;
}
.explore-title{
    color: var(--Blue---Background, #010A20);
text-align: center;

font-family: "DM Sans";
font-size: 40px;
font-weight: 700;
line-height: 46px; /* 115% */
}
.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: #dd2242;
    width: 50px;
    height: 19px;
    border-radius: 15px;
}