// .numbers {
//   background-image: url('../images/rectangle.png');
//   background-size: cover;
//   background-position: center;
//   height: 800px;
//   display: flex;
//   text-align: center;
//   color: white;
// }

// .numbers-title {
//   padding-top: 200px;
//   font-family: 'DM Sans';
//   font-size: 50px;
//   line-height: 1;
//   margin-bottom: 1rem;
// }

// .numbers-subtitle {
//   margin-bottom: 50px;
// }

// .numbers p {
//   font-size: 18px;
//   font-style: 'Paragraph Light';
// }

// .numbers-list {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .list-item {
//   margin-right: 25px;
// }
// .item-title {
//   color: #dd2242;
//   margin-bottom: 40px;
// }
.numbers {
  background-image: url('../images/rectangle.png');
  background-size: cover;
  background-position: center;
  height: 930px;
  display: flex;
  text-align: center;
  color: white;
}

.numbers-title {
  padding-top: 50px;
  font-family: 'DM Sans';
  font-size: 50px;
  margin-bottom: 45px;
}
.numbers-subtitle {
  margin-bottom: 50px;
}

.numbers p {
  font-size: 18px;
  font-style: 'Paragraph Light';
}

.numbers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-item:not(:last-child) {
  margin-bottom: 70px;
}

.item-title {
  color: #dd2242;
  font-size: 45px;
  font-family: 'mobile H1';
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .numbers-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list-item:first-child {
    margin-right: 70px;
  }
  .numbers-title {
    padding-top: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .numbers {
    background-image: url('../images/rectangle.png');
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    text-align: center;
    color: white;
  }

  .numbers-title {
    padding-top: 200px;
    font-family: 'DM Sans';
    font-size: 50px;
    line-height: 1;
    margin-bottom: 1rem;
  }

  .numbers-subtitle {
    margin-bottom: 50px;
  }

  .numbers p {
    font-size: 18px;
    font-style: 'Paragraph Light';
  }

  .numbers-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-item {
    margin-right: 25px;
    margin-bottom: 70px;
  }
  .item-title {
    color: #dd2242;
    margin-bottom: 40px;
  }
}
