.numbers {
  background-image: url('../images/rectangle.png');
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  text-align: center;
  color: white;
}

.numbers-title {
  padding-top: 200px;
  font-family: 'DM Sans';
  font-size: 50px;
  line-height: 1;
  margin-bottom: 1rem;
}

.numbers-subtitle {
  margin-bottom: 50px;
}

.numbers p {
  font-size: 18px;
  font-style: 'Paragraph Light';
}

.numbers-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-item {
  margin-right: 25px;
}
.item-title {
  color: #dd2242;
  margin-bottom: 40px;
}
