.section__photo-gallery {
  margin-top: 32px;
  width: 100%;
}

.photo-gallery__gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__title {
  margin-bottom: 20px;
  color: var(--Blue---Background, #010a20);
  text-align: center;
  font-family: 'DM Sans';
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
}

.gallery__subtitle {
  text-align: center;
  margin-bottom: 20px;
  color: var(--Paragraph-Dark, #6f7787);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.gallery__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 13px;
  grid-auto-flow: row;
  grid-template-areas:
    'nums-6-4-2 nums-5-3-1'
    'nums-6-4-2 nums-5-3-1'
    'nums-6-4-2 nums-5-3-1';
  width: 315px;
  height: 480px;
}

.gallery__nums-6-4-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 12px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'num-6 num-6 num-6'
    'num-6 num-6 num-6'
    'num-6 num-6 num-6'
    'num-4 num-4 num-4'
    'num-2 num-2 num-2'
    'num-2 num-2 num-2';
  grid-area: nums-6-4-2;
}

.gallery__num-6 {
  grid-area: num-6;
}

.gallery__num-4 {
  grid-area: num-4;
}

.gallery__num-2 {
  grid-area: num-2;
}

.gallery__nums-5-3-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 12px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'num-5 num-5 num-5'
    'num-3 num-3 num-3'
    'num-3 num-3 num-3'
    'num-3 num-3 num-3'
    'num-1 num-1 num-1'
    'num-1 num-1 num-1';
  grid-area: nums-5-3-1;
}

.gallery__num-5 {
  grid-area: num-5;
}

.gallery__num-3 {
  grid-area: num-3;
}

.gallery__num-1 {
  grid-area: num-1;
}

@media (min-width: 480px) {
  .section__photo-gallery {
    width: 323px;
  }
}
